<div class="container">
    <div ngbDropdown class="d-inline-block" *ngIf="!isChild">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{currentCategoryTitle()}}</button>
        <div ngbDropdownMenu class="scrollable-menu" aria-labelledby="dropdownBasic1">
            <ul class="categories-dropdown">
                <li *ngFor="let category of categories">
                    <button class="dropdown-item small" (click)="selectCategory(category)">{{category.title}}</button>
                <app-categories-list
                    (onSelectCategory)="selectCategory($event)"
                    [isChild]="true"
                    [categories]="category.children">
                </app-categories-list>
                </li>
            </ul>
        </div>
    </div>

    <ul class="categories-dropdown child" *ngIf="isChild">
        <li *ngFor="let category of categories">
            <button class="dropdown-item small" (click)="selectCategory(category)">{{category.title}}</button>
        <app-categories-list
            (onSelectCategory)="selectCategory($event)"
            [isChild]="true"
            [categories]="category.children">
        </app-categories-list>
        </li>
    </ul>
</div>
