<div class="container-fluid" *ngIf="category">

    <table class="table table-striped table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th colspan="5" class="title">The Attributes Of The {{category.title}} Category</th>
            </tr>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>description</th>
                <th>type</th>
                <th>options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let attr of category.attributes">
                <td>{{attr.id}}</td>
                <td>{{attr.title}}</td>
                <td>{{attr.desc}}</td>
                <td>{{attr.type}}</td>
                <td>{{getOptionsString(attr.options)}}</td>
            </tr>
        </tbody>
    </table>

    <div id="new-category-form" class="form-inline" action="">

        <input class="form-control form-control-sm"
               placeholder="TITLE"
               [(ngModel)]="newAttribute.title" />
        &nbsp;
        <input class="form-control form-control-sm"
               placeholder="DESCRIPTION"
               [(ngModel)]="newAttribute.desc" />
        &nbsp;
        <select class="form-control form-control-sm"
                [(ngModel)]="newAttribute.type">
            <option selected="" [selected] [value]="'str'">String</option>
            <option [value]="'int'">Integer</option>
            <option [value]="'dtm'">Datetime</option>
            <option [value]="'opt'">Option</option>
            <option [value]="'txt'">Text</option>
        </select>
        &nbsp;
        <input
            placeholder="comma separated options"
            *ngIf="newAttribute.type == 'opt'"
            [(ngModel)]="newAttribute.optionsStr" />
        &nbsp;
        <button class="btn btn-sm btn-outline-success" (click)="save()">save</button>
        &nbsp;
        <button class="btn btn-sm btn-outline-danger" (click)="cancel()">cancel</button>
    </div>

    <p *ngIf="errorMessage">
        <ngb-alert [dismissible]="false">
            <strong>Error!</strong> {{errorMessage}}
        </ngb-alert>
    </p>
</div>